
<tr>
	<td>
		<f:translate key="tx_z3event_label.calendar.day.Mon.short" />
	</td>
	<td>
		<f:translate key="tx_z3event_label.calendar.day.Tue.short" />
	</td>
	<td>
		<f:translate key="tx_z3event_label.calendar.day.Wed.short" />
	</td>
	<td>
		<f:translate key="tx_z3event_label.calendar.day.Thu.short" />
	</td>
	<td>
		<f:translate key="tx_z3event_label.calendar.day.Fri.short" />
	</td>
	<td>
		<f:translate key="tx_z3event_label.calendar.day.Sat.short" />
	</td>
	<td>
		<f:translate key="tx_z3event_label.calendar.day.Sun.short" />
	</td>
</tr>